.further-information-wrapper{
    background-image: url("../img/illustrations/illustration.png");
	background-repeat: no-repeat;
    background-position: left 100px;
    padding-top: 105px;
    padding-bottom: 65px;
}
.further-information-content{
    width: 555px;
    margin-left: auto;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 400;
    color: rgba(13, 60, 94, 0.86);
    margin-bottom: 40px;
}
.title-2{
font-size: 30px;
line-height: 24px;
font-weight: 700;
color: #0d3e60;
margin-bottom: 35px;
margin-top: 0;
}
.checklist{
    font-size: 16px;
    line-height: 36px;
    font-weight: 500;
    color: #0d3e60;
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-top: 15px;
    margin-bottom: 60px;
}
.checklist li{
margin-bottom: 15px;
position: relative;
padding-left: 47px;
}
.checklist li::before{
    content: "";
    display: block;
    width: 32px;
    height: 29px;
    position: absolute;
    left: 0;
    top: 10px;
    background-image: url("../img/icons/tickbox.svg");
	background-repeat: no-repeat;
	background-position: center;
}
.further-information-content p{
    margin-bottom: 25px;
}
